p {
    margin: 0;
}

.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

/* при отображении модального окно */
.modal:target {
    opacity: 1;
    /* делаем окно видимым */
    pointer-events: auto;
    /* элемент видим для событий мыши */
    overflow-y: auto;
    /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.blured {
    filter: blur(4px);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 850px;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 700px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
    position: absolute;
    margin-top: -15px;
    margin-left: 740px;
    z-index: 100;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 36px 63px;
    overflow: clip;
}


/* RABBIT MODALS */

.rabbitModal-header, .rabbitModal-header1 {
    display: flex;
    flex-direction: row;
}

.rabbit-header-container {
    justify-content: space-between;
    width: 100%;
}

.rabbit-header-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.rabbit-header-info, .rabbit-header-info1,
.rabbit-header-info-bot, .rabbit-header-info-bot1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 17px;
}

.rabbit-header-info-bot>p, .rabbit-header-info-bot1>p {
    font-size: 25px;
    font-weight: 700;
}

.rabbit-header-right, .rabbit-header-right1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: right;
}

.rabbit-header-right>p, .rabbit-header-right1>p {
    font-size: 18px;
}

.rabbit-header-sex>img, .rabbit-header-sex1>img {
    height: 19px;
}

.changeWeight {
    display: flex;
    gap: 22px;
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 5px;
    padding: 7px 10px;
}

.changeWeight>p {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

.rabbitModal-subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.rabbitModal-subheader-middle {
    text-align: center;
}

.rabbitModal-subheader-right {
    text-align: right;
}

.rabbitModal-subheader-left>p,
.rabbitModal-subheader-middle>p,
.rabbitModal-subheader-right>p {
    font-size: 25px;
}

.subheader-details {
    font-weight: 700;
    font-size: 25px;
}

.operations-history {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 25px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.operations-history-label>p {
    font-weight: 700;
}

.operations-history-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 195px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.operations-history-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 10px;
    background: #6D6D6D;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.operations-history-item>p {
    color: #fff;
    font-size: 18px;
}

.rabbitModal-subheader-bot {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.rabbitModal-subheader-bot>div {
    margin-top: unset;
}

.rabbits-auto-select-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed';
    cursor: pointer;
}


/* CHANGE WEIGHT MODAL */

#changeWeight>.modal-dialog {
    max-width: 380px;
}

#changeWeight>.modal-dialog>.modal-content {
    height: 370px;
}

#changeWeight>.modal-dialog>.modal-content>.modal-body {
    overflow: unset;
}

#changeWeight>.modal-dialog>.modal-content>.modal-body>.close {
    margin-top: -25px;
    margin-left: 285px;
}

.changeWeightModal-header {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.changeWeightModal-subheader {
    margin-top: 42px;
}

.changeWeightModal-subheader>p {
    font-weight: 700;
    text-align: center;
}

.changeWeightModal-subheader>p>span {
    font-weight: 400;
}

.changeWeight-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 13px 24px;
}

.changeWeight-body>p {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.changeWeight-body>input {
    background: #8A8A8A;
    height: 35px;
    text-align: center;
    font-family: 'Roboto Condensed';
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
}

.submit-changeWeight {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding: 10px 23px;
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px;
    cursor: pointer;
}

#changeWeight-modal-loading {
    position: absolute;
    background: #fff;
    padding: 40%;
    margin-top: -9%;
    margin-left: -14%;
    z-index: 99;
}


/* AUTOSELECT MODAL */

#autoSelectModal>.modal-dialog {
    max-width: 980px
}

#autoSelectModal>.modal-dialog>.modal-content {
    height: 700px;
}

#autoSelectModal>.modal-dialog>.modal-content>.modal-body>.close {
    margin-top: -25px;
    margin-left: 880px;
}

.autoSelectModal-header {
    text-align: center;
}

.autoSelectModal-header>p {
    font-size: 25px;
    font-weight: 700;
}

.autoSelectModal-body-item {
    background: #FFFFFF;
    padding: 22px 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.autoSelectModal-body-container {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-height: 450px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10px;
}

.selected-rabbit {
    display: flex;
    gap: 42px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.selected-rabbit-label {
    font-size: 18px;
}

.selected-rabbit-pair {
    padding-top: 25px;
}

.autoSelectModal-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.autoSelect-submit>p,
.autoSelect-decline>p {
    padding: 19px 48px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.autoSelect-submit {
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px;
    cursor: pointer;
}

.autoSelect-decline {
    background: linear-gradient(180deg, #C74D4D 0%, #B33B3B 100%);
    border-radius: 10px;
}


/* MANUAL SELECT MODAL */

#manualSelectModal>.modal-dialog {
    max-width: 980px
}

#manualSelectModal>.modal-dialog>.modal-content {
    height: 700px;
}

#manualSelectModal>.modal-dialog>.modal-content>.modal-body>.close {
    margin-top: -25px;
    margin-left: 880px;
}

.manual-selected-rabbit-pair {
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 25px 10px 5px 10px;
}

.manual-selected-rabbit-pair>a>.list-item>.middle-item-body>label>span {
    background: #6CC165;
    border-radius: 10px;
}


/* FOOD CONTROL MODAL */

#foodControlModal>.modal-dialog {
    max-width: 670px;
}

#foodControlModal>.modal-dialog>.modal-content {
    height: 410px;
}

#foodControlModal>.modal-dialog>.modal-content>.modal-body>.close {
    margin-top: -25px;
    margin-left: 570px;
}

.foodControlModal-subheader {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foodControlModal-subheader>p {
    font-weight: 700;
}

.foodControlModal-subheader>p:nth-child(2) {
    text-align: right;
    width: 35%;
}

.foodControlModal-subheader>p>span {
    font-weight: 400;
}

.foodControl-body-container {
    display: flex;
    gap: 25px;
}

.foodControl-body-container>.changeWeight-body {
    width: 270px;
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
}

.foodControl-body-container>.changeWeight-body>p {
    color: #fff;
}

.foodControl-body-container>.changeWeight-body>input {
    background: #297A2A;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.addFood {
    background: linear-gradient(180deg, #FFFFFF 0%, #DCDCDC 100%);
    color: #297A2A;
    font-size: 16px;
}

.deleteFood {
    background: linear-gradient(180deg, #C74D4D 0%, #B33B3B 100%);
    color: #fff;
    font-size: 16px;
}


/* PLAN MODAL */

#planModal-create>.modal-dialog {
    max-width: 1174px;
}

#planModal-create>.modal-dialog>.modal-content {
    height: 670px;
    background: transparent;
    border-radius: 10px;
}

#planModal-create>.modal-dialog>.modal-content>.modal-body {
    padding: unset;
}

#planModal-create>.modal-dialog>.modal-content>.modal-body>.close {
    margin-top: 10px;
    margin-left: 1135px;
}

.planModal-wrapper {
    display: flex;
    height: 100%;
}

.planModal-left {
    width: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px 0px 0px 10px;
    padding: 40px 50px;
}

.planModal-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 470px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    padding: 50px 80px;
}

.planModal-left-label {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.planModal-left-middle {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.planModal-left-middle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.planModal-plan-select-tomorrow {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.planModal-plan-select-wrapper {
    display: flex;
    gap: 10px;
}

.planModal-plan-select {
    flex-direction: column;
    justify-content: center;
}

.planModal-plan-select>span {
    height: 20px;
}

.planModal-left-middle-wrapper>select {
    width: 326px;
    background: #297A2A;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    color: #fff;
    text-align: center;
    height: 35px;
    font-size: 18px;
    font-family: 'Roboto Condensed';
}

.planCreate-calendar {
    height: 25px;
}

.planCreate-input {
    background: #297A2A;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 322px;
}

.planModal-left-middle-wrapper>p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.planModal-left-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.planModal-add-item {
    background: linear-gradient(180deg, #FFFFFF 0%, #DCDCDC 100%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #297A2a;
    padding: 15px 0px;
    text-align: center;
    width: 280px;
}

.planCreate-rightside-label-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -25px;
}

.planCreate-rightside-label-container>a>p {
    width: 215px;
    padding: 7px 0;
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.planModal-right-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    height: 430px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.planModal-right-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 9px 20px;
}

.planModal-right-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.planModal-submit {
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #297A2a;
    padding: 15px 0px;
    text-align: center;
    width: 280px;
    color: #fff;
    margin-bottom: -10px;
}


/* ALL PLANS MODAL */


#allPlansModal>.modal-dialog {
    max-width: 1000px;
}

#allPlansModal>.modal-dialog>.modal-content {
    height: 657px;
}

#allPlansModal>.modal-dialog>.modal-content>.modal-body>.close {
    margin-top: -25px;
    margin-left: 900px;
}

.allPlans-subheader {
    margin-top: 45px;
    display: flex;
    gap: 30px;
}

.allPlans-list {
    margin-top: 13px;
    height: 470px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 10px;
    margin-bottom: 90px;
}

.appPlans-list-item {
    display: flex;
    gap: 10px;
}

.allPlans-list-item-leftside {
    width: 100%;
}

.allPlans-subheader>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.allPlans-subheader-tab {
    background: linear-gradient(180deg, #BEBEBE 0%, #9D9D9D 100%);
    border-radius: 10px;
    padding: 5px 0px;
    color: #fff;
    width: 135px;
    text-align: center;
    cursor: pointer;
}

.allPlans-subheader-tab-active {
    cursor: default;
    background: #6D6D6D;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
}

#allPlans-delete {
    cursor: pointer;
}

.p-wrapper {
    margin: auto 0;
}

.allPlans-header>a>p {
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px;
    padding: 7px 0;
    text-align: center;
    width: 215px;
    font-size: 18px;
    color: #fff;
    margin-top: -10px;
    margin-left: -40px;
}

.allPlans-list-item-leftside>.planModal-right-item {
    height: 12px;
}

.allPlans-list-item-leftside>.planModal-right-item>.v-wrapper {
    width: 100%;
}

.allPlans-list-item-leftside>.planModal-right-item>.v-wrapper>p {
    font-size: 18px;
}


/* ADD RABBIT MODAL */

#addRabbitModal>.modal-dialog {
    max-width: 1174px;
}

#addRabbitModal>.modal-dialog>.modal-content {
    height: 670px;
    background: transparent;
    border-radius: 10px;
}

#addRabbitModal>.modal-dialog>.modal-content>.modal-body {
    padding: unset;
}

#addRabbitModal>.modal-dialog>.modal-content>.modal-body>.close {
    margin-top: 10px;
    margin-left: 1135px;
}

.addRabbitModal-wrapper {
    display: flex;
    height: 100%;
}

.addRabbitModal-left {
    width: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px 0px 0px 10px;
    padding: 40px 50px;
}

.addRabbitModal-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 544px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    padding: 50px 44px;
}

.addRabbitModal-left-label {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.addRabbitModal-left-middle {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.addRabbitModal-left-middle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addRabbitModal-plan-select-tomorrow {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addRabbitModal-plan-select-wrapper {
    display: flex;
    gap: 10px;
}

.addRabbitModal-plan-select {
    flex-direction: column;
    justify-content: center;
}

.addRabbitModal-plan-select>span {
    height: 20px;
}

.addRabbitModal-left-middle-wrapper>select {
    width: 100%;
    background: #297A2A;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    color: #fff;
    text-align: center;
    height: 35px;
    font-size: 18px;
    font-family: 'Roboto Condensed';
}

.planCreate-calendar {
    height: 25px;
}

.planCreate-input {
    background: #297A2A;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 322px;
}

.addRabbitModal-left-middle-wrapper>p {
    color: #fff;
    width: 53.6%;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addRabbitModal-left-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addRabbitModal-add-item {
    background: linear-gradient(180deg, #FFFFFF 0%, #DCDCDC 100%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #297A2a;
    padding: 15px 0px;
    text-align: center;
    width: 280px;
    cursor: pointer;
}

.planCreate-rightside-label-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -25px;
}

.addRabbitModal-right-labels>p{
    font-size: 16px;
    margin: auto 0;
}

.planCreate-rightside-label-container>a>p {
    width: 215px;
    padding: 7px 0;
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.addRabbitModal-right-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    height: 430px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: -45px;
}

.addRabbitModal-right-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 9px 20px;
}

.addRabbitModal-right-item>div>p{
    font-size: 18px;
}

.addRabbit-wrapper{
    margin-left: -20px;
}

.addRabbitModal-right-labels>p:nth-child(2){
    margin-left: 50px;
}

.addRabbitModal-right-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addRabbitModal-submit {
    background: linear-gradient(180deg, #5AB752 0%, #249F53 100%);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #297A2a;
    padding: 15px 0px;
    text-align: center;
    width: 280px;
    color: #fff;
    margin-bottom: -10px;
}

.rabbitBirth-calendar {
    width: 290px;
    height: 25px;
}

.addRabbitModal-left-middle>.input-form-wrapper>.v-wrapper>p {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.addRabbitModal-checkbox>input:checked+span::before {
    background: #297A2A;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 135px;
}

.addRabbitModal-checkbox>span::before {
    background: linear-gradient(0deg, #2f9543 0%, #27973e 100%);
    border-radius: 5px;
    width: 135px;
}

.addRabbit-checkbox-container {
    gap: 20px;
}

.addRabbitModal-left-middle>.input-form-wrapper>div {
    width: 100%;
}

.addRabbitModal-checkbox>img {
    margin-left: 55px;
}